In [ ]:
1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
years = [i for i in range(1997,1997+6)]
years

[1997, 1998, 1999, 2000, 2001, 2002]

In [ ]:
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [2]:
years[3]

2000

In [ ]:
3.In the years list, which year were you the oldest?

In [3]:
max(years)

2002

In [ ]:
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella",
"salmonella".

In [4]:
strings = list(['mozzarella', 'cinderella','salmonella'])
strings

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [5]:
for i in strings:
    print(i.capitalize())
strings

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
6.Make a surprise list with the elements "Groucho", "Chico", and "Harpo"

In [6]:
surpriselist = ["Groucho", "Chico", "Harpo"]
surpriselist

['Groucho', 'Chico', 'Harpo']

In [ ]:
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
surpriselist[-1].lower()

'harpo'

In [8]:
surpriselist[-1][::-1]

'opraH'

In [11]:
surpriselist[-1][::-1].upper()

'OPRAH'

In [ ]:
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [12]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
9. Write the French word for walrus in your three-word dictionary e2f.

In [13]:
e2f['walrus']

'morse'

In [ ]:
10. Make a French-to-English dictionary called f2e from e2f. Use the items method dog is
chien, cat is chat, and walrus is morse.

In [14]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
11. Print the English version of the French word chien using f2e.

In [15]:
f2e['chien']

'dog'

In [ ]:
12. Make and print a set of English words from the keys in e2f.

In [16]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [ ]:
13.Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [17]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [18]:
# 14. Print the top-level keys of life.

life.keys()

dict_keys(['animals', 'plants', 'other'])

In [19]:
# Print the keys for life['animals'].

life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [20]:
# Print the values for life['animals']['cat']

life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']